<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Statico dmin Dashboard">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/42.0.2/ckeditor5.css" />
    <link rel="stylesheet" href="/styles/style.css">
    <title>Statico - Admin Dashboard</title>
</head>
<body class="d-flex flex-column h-100">
    
        <header id="top-header" class="top-header">
            <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
                <div class="container-fluid ps-3">
                    <span class="navbar-brand mb-0 h1">Statico Admin</span>
                    <div class="float-end">
                        <span class="text-light me-3">
                            <%= user.username %>
                        </span>
                        <span class="float-end">
                            <a href="/logout">Logout</a>
                        </span>
                    </div>
                </div>
            </nav>
        </header>

    <div class="row gx-0">
        <div id="sidebar" class="col-md-3 col-lg-2 <%-contentType%>">
            <ul class="list-group list-group-flush">
                <%for (const [modelName, model] of Object.entries(sidebarData)) {%>
                    <li class="list-group-item list-group-item-action d-flex flex-row <%-modelName%><%-model.selected ? ' active' : '' %>">
                        <% if(model.selected){%>
                            <div class="w-100 me-2 fw-bold">
                                <span class="badge text-bg-warning rounded-pill me-2 boxShadow"><%= model.count %></span>
                                <%=caption = model.displayName%>
                            </div>
                        <%}else{%>
                            <a href="/admin/<%=modelName%>" class="d-block w-100 me-2 text-decoration-none fw-bold">
                                <span class="badge text-bg-warning rounded-pill me-2 boxShadow"><%= model.count %></span>
                                <%=model.displayName%>
                            </a>
                        <%}%>
                        <div class="pointer modelAddBtn" onclick="createItemClick('<%=modelName%>', '<%=JSON.stringify(model.selectFields)%>')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                                </svg>
                        </div>
                    </li>
                <%}%>
                <li class="list-group-item list-group-item-action d-flex flex-row">
                    <a href="/admin/permissions" class="d-block w-100 me-2 text-decoration-none fw-bold">
                        Permissions
                    </a>
                </li>
            </ul>
        </div>
        <main class="col-md-9 ms-sm-auto col-lg-10 ps-4 pe-4">

            <div id="top-alert" class="top-alert <%- locals.hasMessages ? ' open ' : '' %>" role="alert">
                <div>
                    <div class="alert alert-<%-locals.messageType%>">
                        <div id="top-alert-closebtn" class="top-alert-closebtn cursorPoint">
                            <div class="close-btn" onclick="toggleClass('top-alert', 'open')"></div>
                        </div>
                        <div id="top-alert-title" class="top-alert-title">
                            <%= locals.messageTitle %>
                        </div>
                        <div id="top-alert-body" class="top-alert-body">
                            <ul class="mb-0">
                                <% messages.forEach(function(message) { %>
                                    <li><%= message %></li>
                                <% }); %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="horizontal-collapse">
                
                <div>
                    <div id="close-model-create" class="close-model-create float-end" onclick="closeModelView()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                            </svg>
                    </div>
                    <!-- User -->
                    <div id="model-user" class="content-type-wrapp">
                        <!-- <h3 class="mb-3">Create User</h3> -->
                        <form id="create-user" action="/admin/create/user" method="POST" onsubmit="return validateForm(event)" novalidate>
                            <fieldset form="create-user">
                                <legend class="create mb-2">Create User</legend>
                                <legend class="edit mb-2">Edit User</legend>
                                <input type="hidden" id="user-id" name="id" value="" />
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="user-email" name="email" value="" required>
                                    <label for="user-email">Email address</label>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Invalid email address
                                    </div>    
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="checkbox" value="true" id="user-emailverified" name="emailverified" checked="true">
                                    <label class="form-check-label" for="user-emailverified">
                                        Send verification email
                                    </label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" id="user-password" name="password" placeholder="Password" pattern="(?=.*?[0-9])(?=.*?[A-Za-z]).{8,32}" required>
                                    <label for="user-password">Password</label>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please enter a valid password that is at least 8 characters
                                    </div>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="user-username" name="username" pattern="[A-Za-z0-9_\-]{6,20}" required>
                                    <label for="user-username">User name</label>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please choose a username that is at least 6 characters.
                                    </div>
                                </div>
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="user-role" name="role" aria-label="Floating label select example" onchange="updateRoleDescription(event)"></select>
                                    <label for="role">Role</label>
                                    <div id="user-role-RoleHelpBlock" class="form-text mb-3"></div>
                                </div>
                                <button type="submit" class="create btn btn-primary">
                                    <div class="spinner-border" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    Create
                                </button>
                                <button type="submit" class="edit btn btn-primary">
                                    <div class="spinner-border" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    Update
                                </button>
                            </fieldset>
                        </form>
                    </div>
                    <!-- Page -->
                    <div id="model-page" class="content-type-wrapp pt-0 d-none" style="padding: 5% 10%;">
                        <form id="create-page" action="/admin/create/page" method="POST" style="max-width: 80%;" onsubmit="updatePageBody();validateForm(event)" novalidate>
                            <fieldset form="create-page">
                                <legend class="create mb-2">Create Page</legend>
                                <legend class="edit mb-2">Edit Page</legend>
                                <input type="hidden" id="page-id" name="id" value="" />
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="page-title" name="title" pattern="[a-zA-Z0-9 \-_!@#$%&\(\)\*\/]{3,64}" required>
                                    <label for="title">Title</label>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Invalid Title
                                    </div>    
                                </div>
                                <div class="form-floating mb-3">
                                    <textarea class="form-control page-body-textarea" id="page-body" name="body" minlength="4" style="height: 500px" required></textarea>
                                    <label for="body">Body</label>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please enter your post in the textarea.
                                    </div>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="checkbox" value="true" id="page-publish" name="publish" checked="true">
                                    <label class="form-check-label" for="publish">
                                        Publish
                                    </label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="page-slug" name="slug" pattern="[a-zA-Z0-9\-_]{3,64}">
                                    <label for="slug">Slug</label>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Invalid Slug
                                    </div>    
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="page-metatitle" name="metatitle" pattern="[a-zA-Z0-9 \-_!@#$%&*\(\)\+\/\']{1,128}">
                                    <label for="metatitle">Meta Title</label>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Invalid Meta Title
                                    </div>    
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="page-metadescription" name="metadescription" pattern="[a-zA-Z0-9 \-_!@#$%&*\(\)\+\/\']{1,256}">
                                    <label for="metadescription">Meta Description</label>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Invalid Meta Description
                                    </div>    
                                </div>
                                <button type="submit" class="create btn btn-primary">
                                    <div class="spinner-border" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    Create
                                </button>
                                <button type="submit" class="edit btn btn-primary">
                                    <div class="spinner-border" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    Update
                                </button>
                            </fieldset>
                        </form>
                    </div>
                    <!-- Post -->
                    <div id="model-post" class="content-type-wrapp pt-0 d-none" style="padding: 5% 10%;">
                        <form id="create-post" action="/admin/create/post" method="POST" style="max-width: 80%;" onsubmit="updatePostBody();validateForm(event)" novalidate>
                            <fieldset form="create-post">
                                <legend class="create mb-2">Create Post</legend>
                                <legend class="edit mb-2">Edit Post</legend>
                                <input type="hidden" id="post-id" name="id" value="" />
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="post-title" name="title" pattern="[a-zA-Z0-9 \-_!@#$%&\(\)\*\/]{3,64}" required>
                                    <label for="title">Title</label>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Invalid Title
                                    </div>    
                                </div>
                                <div class="form-floating mb-3">
                                    <textarea class="form-control post-body-textarea" id="post-body" name="body" minlength="4" style="height: 500px" required></textarea>
                                    <label for="body">Body</label>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please enter your post in the textarea.
                                    </div>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="checkbox" value="true" id="post-publish" name="publish" checked="true">
                                    <label class="form-check-label" for="publish">
                                        Publish
                                    </label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="post-slug" name="slug" pattern="[a-zA-Z0-9\-_]{3,64}">
                                    <label for="slug">Slug</label>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Invalid Slug
                                    </div>    
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="post-metatitle" name="metatitle" pattern="[a-zA-Z0-9 \-_!@#$%&*\(\)\+\/]{1,128}">
                                    <label for="metatitle">Meta Title</label>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Invalid Meta Title
                                    </div>    
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="post-metadescription" name="metadescription" pattern="[a-zA-Z0-9 \-_!@#$%&*\(\)\+\/]{1,256}">
                                    <label for="metadescription">Meta Description</label>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Invalid Meta Description
                                    </div>    
                                </div>
                                <button type="submit" class="create btn btn-primary">
                                    <div class="spinner-border" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    Create
                                </button>
                                <button type="submit" class="edit btn btn-primary">
                                    <div class="spinner-border" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    Update
                                </button>
                            </fieldset>
                        </form>
                    </div>
                    <!-- Comments -->
                    <div id="model-comment" class="content-type-wrapp d-none">
                        <form id="create-comment" action="/admin/create/comment" method="POST" onsubmit="validateForm(event)" novalidate>
                            <fieldset form="create-comment">
                                <legend class="create mb-2">Create Comment</legend>
                                <legend class="edit mb-2">Edit Comment</legend>
                                <input type="hidden" id="comment-id" name="id" value="" />
                                <div class="form-floating mb-3">
                                    <textarea class="form-control comment-body-textarea" id="comment-body" name="comment" minlength="4" style="height: 200px" required></textarea>
                                    <label for="body">Body</label>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please enter your comment in the textarea.
                                    </div>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="checkbox" value="true" id="comment-publish" name="publish" checked="true">
                                    <label class="form-check-label" for="publish">
                                        Publish
                                    </label>
                                </div>
                                <button type="submit" class="create btn btn-primary">
                                    <div class="spinner-border" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    Create
                                </button>
                                <button type="submit" class="edit btn btn-primary">
                                    <div class="spinner-border" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    Update
                                </button>
                            </fieldset>
                        </form>
                    </div>
                    <!-- Roles -->
                    <div id="model-role" class="content-type-wrapp d-none">
                        <form id="create-role" action="/admin/create/role" method="POST" onsubmit="validateForm(event)" novalidate>
                            <fieldset form="create-role">
                                <legend class="edit mb-2">Edit Role</legend>
                                <input type="hidden" id="role-id" name="id" value="" />
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="role-name" name="name" pattern="[A-Za-z0-9_\-]{4,20}">
                                    <label for="metadescription">Name</label>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Invalid Role Name
                                    </div>    
                                </div>
                                <div class="form-floating mb-1">
                                    <input type="text" class="form-control" id="role-description" name="description" pattern="[a-zA-Z0-9 \-_!@#$%&*\(\)\+\/\'\.]{1,256}">
                                    <label for="metadescription">Role Description</label>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Invalid Role Description
                                    </div>    
                                </div>
                                <div id="editRoleHelpBlock" class="form-text mb-3">
                                    * This is for naming purposes only, and have no effect on Role Permissions!
                                </div>
                                <button type="submit" class="edit btn btn-primary">
                                    <div class="spinner-border" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    Update
                                </button>
                            </fieldset>
                        </form>
                    </div>
                </div>
                
                <div>
                    <header>

                    </header>
                    <table class="table table-hover caption-top">
                        <caption class="text-center fs-4 bg-warning-subtle"><%=caption%></caption>
                        <thead class="table-primary">
                            <tr>
                                <% modelHeaders.forEach((field) => {%>
                                    <th scope="col">
                                        <%-field.header%>
                                    </th>
                                <%})%>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            <% modelsData.forEach((data) => {%>
                                <tr>
                                    <% modelHeaders.forEach((field) => {%>
                                        <td>
                                            <% if(field.relation){ %>
                                                <a href="/admin/<%-field.relation + '/' + field.filter + '/' + data[field.filterKey]%>">
                                                    <%-data[field.key]%>
                                                </a>
                                            <%}else if(field.key === 'slug'){%>
                                                <a href="/<%= data[field.key]%>">
                                                    <%-data[field.key]%>
                                                </a>
                                            <%}else{%>
                                                <%-data[field.key]%>
                                            <%}%>
                                        </td>
                                    <%})%>
                                    <td class="text-end">
                                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                            <%if(contentType != 'role'){%>
                                            <form action="/admin/delete/<%-contentType.toLowerCase()%>" method="POST" onsubmit="return deleteItemClick('<%=data[modelHeaders[0].key]%>')">
                                                <input type="hidden" name="id" value="<%=data.id%>"/>
                                                <input type="hidden" name="header" value="<%=data[modelHeaders[0].key]%>" />
                                                <button type="submit" class="btn btn-warning">Delete</button>
                                            </form>
                                            <%}%>
                                            <button type="button" class="btn btn-primary" onclick="editItemClick('<%-contentType.toLowerCase()%>', '<%=JSON.stringify(data)%>')">Edit</button>
                                        </div>
                                    </td>
                                </tr>
                            <%})%>
                        </tbody>
                    </table>

                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <li class="page-item<%-currentPage===1 ? ' disabled' : ''%>">
                                <a class="page-link" href="?page=1">Previous</a>
                            </li>
                            <%for(let i=1;i<=numberOfPages;i++){%>
                                <%if(i===currentPage){%>
                                    <li class="page-item active" aria-current="page">
                                <%}else{%>
                                        <li class="page-item">
                                <%}%>
                                    <a class="page-link" href="?page=<%=i%>">
                                        <%=i%>
                                    </a>
                                </li>
                            <%}%>
                            <li class="page-item<%-currentPage===numberOfPages ? ' disabled' : ''%>">
                                <a class="page-link" href="?page=<%=(currentPage+1)%>">Next</a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
        </main>
    </div>

    <footer class="footer mt-auto py-3 bg-body-tertiary">
        <div class="container">
            <span class="text-body-secondary">@copyright statico.</span>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/script.js"></script>

    <script type="importmap">
        {
            "imports": {
                "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/42.0.2/ckeditor5.js",
                "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/42.0.2/"
            }
        }
    </script>

    <script type="text/javascript">
        let pageEditor
    </script>
    <script type="module">
        import {ClassicEditor, Essentials, Bold, Italic, Font, Alignment, Paragraph, Heading, Indent, IndentBlock, SourceEditing, AutoLink, Link, List} from 'ckeditor5';

        // Page
        ClassicEditor.create( document.querySelector( '.page-body-textarea' ), {
            plugins: [ Essentials, Bold, Italic, Font, Alignment, Paragraph, Heading, Indent, IndentBlock, SourceEditing,AutoLink, Link, List ],
            toolbar: {
                items: [
                    'sourceEditing', '|',
                    'undo', 'redo', '|',
                    'heading', 'bold', 'italic','|',
                    'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor', '|',
                    'alignment', 'outdent', 'indent', '|',
                    'link', '|',
                    'bulletedList', 'numberedList', '|',
                ]
            },
            placeholder: 'Enter your text here...'
        })
        .then( newEditor => {
            window.pageEditor = newEditor;
        })
        .catch( error => {
            console.error( error );
        });

        // Post
        ClassicEditor.create( document.querySelector( '.post-body-textarea' ), {
            plugins: [ Essentials, Bold, Italic, Font, Alignment, Paragraph, Heading, Indent, IndentBlock, SourceEditing,AutoLink, Link, List ],
            toolbar: {
                items: [
                    'sourceEditing', '|',
                    'undo', 'redo', '|',
                    'heading', 'bold', 'italic','|',
                    'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor', '|',
                    'alignment', 'outdent', 'indent', '|',
                    'link', '|',
                    'bulletedList', 'numberedList', '|',
                ]
            },
            placeholder: 'Enter your text here...'
        })
        .then( newEditor => {
            window.postEditor = newEditor;
        })
        .catch( error => {
            console.error( error );
        });

    </script>
    
</body>
</html>