<!DOCTYPE html>
<html lang="en">
    <%- include('partial/head', { title: 'Login' }) -%>
<body>
    <div id="page-container" class="page-container">
        <%- include('partial/header') -%>
        <%- include('partial/alert') -%>
        <%- include('partial/main') -%>
        <%- include('partial/footer') -%>
    </div>
</body>
</html>