<!DOCTYPE html>
<html class="h-100" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%=postData.metadescription%>">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
    

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles/themea.css">
    <title><%=postData.metatitle%></title>
</head>
<body class="d-flex flex-column h-100">
    <nav class="navbar navbar-expand-lg py-2 bg-body-tertiary border-bottom">
        <div class="container d-flex flex-wrap">
            <a href="/" class="navbar-brand d-lg-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-stripe me-3" viewBox="0 0 16 16">
                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.226 5.385c-.584 0-.937.164-.937.593 0 .468.607.674 1.36.93 1.228.415 2.844.963 2.851 2.993C11.5 11.868 9.924 13 7.63 13a7.7 7.7 0 0 1-3.009-.626V9.758c.926.506 2.095.88 3.01.88.617 0 1.058-.165 1.058-.671 0-.518-.658-.755-1.453-1.041C6.026 8.49 4.5 7.94 4.5 6.11 4.5 4.165 5.988 3 8.226 3a7.3 7.3 0 0 1 2.734.505v2.583c-.838-.45-1.896-.703-2.734-.703"/>
                </svg>
                <span class="fs-4"> Statico</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#headerNavbarTop" aria-controls="headerNavbarTop" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="headerNavbarTop" class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a href="/" class="nav-link link-body-emphasis px-2 active" aria-current="page">Home</a></li>
                    <li class="nav-item"><a href="/features" class="nav-link link-body-emphasis px-2">Features</a></li>
                    <li class="nav-item"><a href="/pricing" class="nav-link link-body-emphasis px-2">Pricing</a></li>
                    <li class="nav-item"><a href="/faq" class="nav-link link-body-emphasis px-2">FAQs</a></li>
                    <li class="nav-item"><a href="/about" class="nav-link link-body-emphasis px-2">About</a></li>
                </ul>
                <ul class="nav">
                    <%if(user){%>
                        <li class="nav-item"><a href="/admin" class="nav-link link-body-emphasis px-2">Admin</a></li>
                        <li class="nav-item"><a href="/profile" class="nav-link link-body-emphasis px-2">My Profile</a></li>
                        <li class="nav-item"><a href="/logout" class="nav-link link-body-emphasis px-2">Logout</a></li>
                    <%}else{%>
                        <li class="nav-item"><a href="/login" class="nav-link link-body-emphasis px-2">Login</a></li>
                        <li class="nav-item"><a href="/signup" class="nav-link link-body-emphasis px-2">Sign up</a></li>
                    <%}%>
                </ul>
            </div>
        </div>
    </nav>

    <header class="py-3 mb-4 border-bottom">
        <div class="container d-flex flex-wrap justify-content-center">
            <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none d-none d-lg-block">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-stripe me-3" viewBox="0 0 16 16">
                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.226 5.385c-.584 0-.937.164-.937.593 0 .468.607.674 1.36.93 1.228.415 2.844.963 2.851 2.993C11.5 11.868 9.924 13 7.63 13a7.7 7.7 0 0 1-3.009-.626V9.758c.926.506 2.095.88 3.01.88.617 0 1.058-.165 1.058-.671 0-.518-.658-.755-1.453-1.041C6.026 8.49 4.5 7.94 4.5 6.11 4.5 4.165 5.988 3 8.226 3a7.3 7.3 0 0 1 2.734.505v2.583c-.838-.45-1.896-.703-2.734-.703"/>
                </svg>
                <span class="fs-4"> Statico</span>
            </a>
            <form action="/post/search" method="POST" class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
                <div class="input-group">
                    <input type="search" name="search" class="form-control" placeholder="Search..." aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </div>
            </form>
        </div>
    </header>

    <div class="container">
        <main>
            <h1><%=postData.title%></h1>
            <div><%-postData.body%></div>
        </main>
    </div>

    <div class="container">
        <section class="comments-outer-wrapper">
            <div id="new-comment" class="new-comment-wrapper">
                <form action="/api/create/comment" method="POST" class="create-comment-form w-50" onsubmit="return postComment(event);" novalidate>
                    <fieldset form="create-comment">
                        <legend class="create mb-2">Create Comment</legend>

                        <div id="comment-alert" class="top-alert" role="alert">
                            <div>
                                <div class="alert top-alert-type">
                                    <div id="comment-alert-closebtn" class="top-alert-closebtn cursorPoint">
                                        <div class="close-btn" onclick="toggleClass('comment-alert', 'open')"></div>
                                    </div>
                                    <div class="top-alert-title"></div>
                                    <div class="top-alert-body">
                                        <ul class="top-alert-body mb-0"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <input type="hidden" id="post-id" name="post" value="<%=postData.id%>" />
                        <input type="hidden" id="parent-comment" name="parent" value="" />
                        <div class="form-floating mb-3">
                            <textarea class="form-control comment-body-textarea" id="comment-body" name="comment" minlength="4" required></textarea>
                            <label for="comment-body">Body</label>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please enter your Comment.
                            </div>
                        </div>
                        
                        <button type="submit" class="create btn btn-primary">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            Comment
                        </button>

                        <button type="reset" class="reset btn btn-secondary">Cancel</button>
                    </fieldset>
                </form>
            </div>

           
            
            <div class="comments-wrapper my-4 py-3">
                
                <fieldset id="comments-orderby" class="float-end m-4 mt-0 d-none">
                    <legend>Oreder By:</legend>
                    <select id="comment-order-select" class="form-select" aria-label="Select Comment order" onchange="commentsReOrder(event)">
                        <option value="datedesc" selected>Newest First</option>
                        <option value="dateasc">Oldest First</option>
                    </select>
                </fieldset>
                

                <ul id="comments" class="comments-list m-0 ps-4">
                    
                </ul>
                <div id="load-more-comment-btn" class="d-grid gap-2 col-6 mx-auto text-center d-none ps-4">
                    <button type="button" class="btn btn-link" onclick="loadMoreComments()">
                        Load More Comments
                    </button>
                </div>
                <div id="loadin-comments" class="d-flex justify-content-center">
                    <div class="spinner-border text-primary align-self-center me-2" role="status"></div>
                    <span class="align-self-center">Loading Comments...</span>
                </div>
                <div id="no-comments" class="d-none ps-4">
                    Be the first to leave a comment.
                </div>
            </div>
        </section>
    </div>

    <footer class="footer mt-auto py-3 bg-body-tertiary">
        <div class="container">
            <span class="text-body-secondary">2024 &copy; Statico.</span>
        </div>
    </footer>

    <template id="comment-template">
        <li>
            <div class="comment-meta d-flex align-items-baseline mt-3">
                <div class="comment-index fs-3 fw-bolder text-primary me-2"></div>
                <div class="comment-author fw-bold me-3"></div>
                <div class="comment-createdat fw-light"></div>
            </div>
            <div class="comment-content"></div>
            <div class="comment-menu d-flex align-items-center">
                <button type="button" data-parent-comment="" class="btn btn-link btn-sm btn-reply">Reply</button>

                <fieldset class="comment-voting d-flex align-items-baseline ms-2">
                    <span class="likes ms-3"></span>
                    <button type="button" class="btn btn-link like-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up" viewBox="0 0 16 16">
                            <path d="M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2 2 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a10 10 0 0 0-.443.05 9.4 9.4 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a9 9 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.2 2.2 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.9.9 0 0 1-.121.416c-.165.288-.503.56-1.066.56z"></path>
                        </svg>
                        <span class="visually-hidden">Like</span>
                    </button>

                    <button type="button" class="btn btn-link dislike-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-down" viewBox="0 0 16 16">
                            <path d="M8.864 15.674c-.956.24-1.843-.484-1.908-1.42-.072-1.05-.23-2.015-.428-2.59-.125-.36-.479-1.012-1.04-1.638-.557-.624-1.282-1.179-2.131-1.41C2.685 8.432 2 7.85 2 7V3c0-.845.682-1.464 1.448-1.546 1.07-.113 1.564-.415 2.068-.723l.048-.029c.272-.166.578-.349.97-.484C6.931.08 7.395 0 8 0h3.5c.937 0 1.599.478 1.934 1.064.164.287.254.607.254.913 0 .152-.023.312-.077.464.201.262.38.577.488.9.11.33.172.762.004 1.15.069.13.12.268.159.403.077.27.113.567.113.856s-.036.586-.113.856c-.035.12-.08.244-.138.363.394.571.418 1.2.234 1.733-.206.592-.682 1.1-1.2 1.272-.847.283-1.803.276-2.516.211a10 10 0 0 1-.443-.05 9.36 9.36 0 0 1-.062 4.51c-.138.508-.55.848-1.012.964zM11.5 1H8c-.51 0-.863.068-1.14.163-.281.097-.506.229-.776.393l-.04.025c-.555.338-1.198.73-2.49.868-.333.035-.554.29-.554.55V7c0 .255.226.543.62.65 1.095.3 1.977.997 2.614 1.709.635.71 1.064 1.475 1.238 1.977.243.7.407 1.768.482 2.85.025.362.36.595.667.518l.262-.065c.16-.04.258-.144.288-.255a8.34 8.34 0 0 0-.145-4.726.5.5 0 0 1 .595-.643h.003l.014.004.058.013a9 9 0 0 0 1.036.157c.663.06 1.457.054 2.11-.163.175-.059.45-.301.57-.651.107-.308.087-.67-.266-1.021L12.793 7l.353-.354c.043-.042.105-.14.154-.315.048-.167.075-.37.075-.581s-.027-.414-.075-.581c-.05-.174-.111-.273-.154-.315l-.353-.354.353-.354c.047-.047.109-.176.005-.488a2.2 2.2 0 0 0-.505-.804l-.353-.354.353-.354c.006-.005.041-.05.041-.17a.9.9 0 0 0-.121-.415C12.4 1.272 12.063 1 11.5 1"></path>
                        </svg>
                        <span class="visually-hidden">Dislike</span>
                    </button>
                    <span class="dislikes"></span>
                </fieldset>
            </div>
        </li>
    </template>

    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/themea.js"></script>
    <script type="text/javascript" src="/scripts/global.js"></script>
    <script type="text/javascript" src="/scripts/comments.js"></script>
</body>
</html>